body {
  margin: 0 auto;
  max-width: 600px;
  background-image: url("WEBSITE_BACKGROUND.png");
 }

h1 {
  font-size: 50px;
  font-family: "Lucida Console", monospace;
  color: white;
}

p {
  font-size: 15px;
  font-family: "Lucida Console", monospace;
  overflow: hidden;
  word-wrap: break-word;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.buttons {
  display: inline-block;
  max-width: 47.5%;
  padding: 5px;
}


/* unvisited link */
a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}
