body {
  margin: 0 auto;
  max-width: 600px;
  background-image: url("SCARR_LAYER_1.png");
 }

h1 {
  font-size: 50px;
  font-family: "Lucida Console", Courier, monospace;
  color: white;
}

p {
  font-size: 12px;
  font-family: "Lucida Console", Courier, monospace;
  overflow: hidden;
  word-wrap: break-word;
}

.Rob_container {
  border: 1px solid #dedede;
  background-color: #34005F;
  padding: 7px;
  margin: -1px 0;
  color: #FFB4FC; 

}

.Rob_container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 10px;
}

.Archie_container {
  border: 1px solid #dedede;
  background-color: #401A1A;
  padding: 7px;
  margin: -1px 0;
  color: #FFAA7F; 
}

.Archie_container img {
  float: left;
  max-width: 75px;
  width: 100%;
  margin-left: -9.3px;
  margin-right: 10px;
  margin-top: -7px;
}
